.menu-bg {
  background-color: fade-out($theme-red, 0.05);
  opacity: 0;
  transition: all 0.3s ease-in-out;

  &--show {
    opacity: 1;
    transition: all 0.3s ease-in-out;
  }
}

.carousel-caption {
  bottom: 50%;
  transform: translateY(50%);
}

.large-hero__title {
  font-size: $m-size;
}

.large-hero__subtitle {
  font-size: $s-size;
}

.typing-cursor {
  border-right: 0.2rem solid #ddd;
  animation: cursorBlink 0.8s infinite;
}

@keyframes cursorBlink {
  from {
    border-right: 0.2rem solid transparent;
  }

  to {
    border-right: 0.2rem solid #ddd;
  }
}

@media (min-width: $desktop-breakpoint) {
  .large-hero__title {
    font-size: $l-size;
  }

  .large-hero__subtitle {
    font-size: $m-size;
  }
}
