.scroll-up-btn {
    position: fixed;
    z-index: 1;
    right: $xl-size;
    bottom: $xxl-size;

    .btn {
        display: block;
        height: 50px;
        width: 50px;
        color: $offWhite;
        background-color: $theme-red;
        transition: all .5s;
    }

    .btn:hover {
        background-color: $offWhite;
        color: $theme-red;
    }
}