.long-padding {
  padding-top: 3rem;
  padding-bottom: 14rem;
}

.card-margin {
  margin-top: -14rem;
}

.tech-icon {
  font-size: 5rem;
}

@media only screen and (min-width: 576px) and (max-width: 812px) {
  .tech-icon {
    font-size: 3rem;
  }
  .card-body h6 {
    font-size: 0.65rem;
  }
}
