// Color
$theme-red: #8c0d13;
$mainLightGrey: #aaaaaa;
$mainDarkGrey: #606060;
$bgGrey: #f2f2f2;
$offWhite: #f9f9f9;
$black: #000000;
$twitter: #55acee;
$facebook: #3b5998;
$linkedIn: #0077b5;
$github: #999999;

// Sizing
$xs-size: 0.5rem;
$s-size: 0.75rem;
$m-size: 1rem;
$l-size: 1.5rem;
$xl-size: 2rem;
$xxl-size: 3rem;
$desktop-breakpoint: 50.75rem;
