// Color
$theme-red: #8C0D13;
$mainLightGrey: #aaaaaa;
$mainDarkGrey: #606060;
$bgGrey: #f2f2f2;

// Sizing
$s-size: 0.75rem;
$m-size: 1rem;
$l-size: 2rem;
$xl-size: 3rem;
$xxl-size: 4rem;
$desktop-breakpoint: 50.75rem;